.git
.gitignore
.env.local
.env.*.local
*.md
Makefile
versions.lock

backend/vendor/
backend/var/
backend/.env.local
backend/public/assets/
backend/public/bundles/

frontend/node_modules/
frontend/dist/

k8s/
.idea/
.vscode/
