parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Kernel\:\:getAllowedEnvs\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Kernel.php

		-
			message: '#^Method App\\Security\\User\\Domain\\Entity\\CpgUser\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Security/User/Domain/Entity/CpgUser.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 8
			path: tests/Contact/Presentation/ApiResource/ContactMessageResourceTest.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: tests/Contact/Presentation/Command/PurgeFailedContactMessagesCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Contact/Presentation/Command/PurgeFailedContactMessagesCommandTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Portfolio/About/Application/AboutMeCardAdministratorTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: tests/Portfolio/About/Application/AboutSettingsAdministratorTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Portfolio/About/Application/AboutSiteCardAdministratorTest.php

		-
			message: '#^Cannot access offset ''cards'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''eyebrow'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''hobbiesCards'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''hobbiesSubtitle'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''me'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 7
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''personalCards'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''personalSubtitle'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''site'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''technicalCards'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''technicalSubtitle'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_column expects array, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Portfolio/About/Presentation/ApiResource/AboutContentResourceTest.php

		-
			message: '#^Cannot access offset ''category'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutMeCardResourceTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutMeCardResourceTest.php

		-
			message: '#^Cannot access offset ''title'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutMeCardResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutMeCardResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutMeCardResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 7
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutMeCardResourceTest.php

		-
			message: '#^Cannot access offset ''siteEyebrow'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSettingsResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSettingsResourceTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSiteCardResourceTest.php

		-
			message: '#^Cannot access offset ''locale'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSiteCardResourceTest.php

		-
			message: '#^Cannot access offset ''title'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSiteCardResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSiteCardResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSiteCardResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 6
			path: tests/Portfolio/About/Presentation/ApiResource/BackofficeAboutSiteCardResourceTest.php

		-
			message: '#^Dynamic call to static method Symfony\\Bundle\\FrameworkBundle\\Test\\KernelTestCase\:\:getContainer\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 6
			path: tests/Portfolio/About/Presentation/Command/SeedAboutContentCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/About/Presentation/Command/SeedAboutContentCommandTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Cv/Presentation/Controller/DownloadCvControllerTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 4
			path: tests/Portfolio/Experience/Application/ExperienceTechnologyAdministratorTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Experience/Presentation/ApiResource/BackofficeExperienceTechnologyResourceTest.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Experience/Presentation/ApiResource/BackofficeExperienceTechnologyResourceTest.php

		-
			message: '#^Cannot access offset ''years'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Experience/Presentation/ApiResource/BackofficeExperienceTechnologyResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Experience/Presentation/ApiResource/BackofficeExperienceTechnologyResourceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_column expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Experience/Presentation/ApiResource/BackofficeExperienceTechnologyResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Experience/Presentation/ApiResource/BackofficeExperienceTechnologyResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 6
			path: tests/Portfolio/Experience/Presentation/ApiResource/BackofficeExperienceTechnologyResourceTest.php

		-
			message: '#^Cannot access offset ''iconKey'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Experience/Presentation/ApiResource/ExperienceTechnologyResourceTest.php

		-
			message: '#^Cannot access offset ''relatedTechnology'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Experience/Presentation/ApiResource/ExperienceTechnologyResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Experience/Presentation/ApiResource/ExperienceTechnologyResourceTest.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Experience/Presentation/ApiResource/ExperienceTechnologyResourceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_column expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Experience/Presentation/ApiResource/ExperienceTechnologyResourceTest.php

		-
			message: '#^Dynamic call to static method Symfony\\Bundle\\FrameworkBundle\\Test\\KernelTestCase\:\:getContainer\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: tests/Portfolio/Experience/Presentation/Command/AddExperienceTechnologyCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Experience/Presentation/Command/AddExperienceTechnologyCommandTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Portfolio/Quality/Application/QualityPrincipleAdministratorTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Portfolio/Quality/Application/QualityTraitAdministratorTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityPrincipleResourceTest.php

		-
			message: '#^Cannot access offset ''locale'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityPrincipleResourceTest.php

		-
			message: '#^Cannot access offset ''principles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityPrincipleResourceTest.php

		-
			message: '#^Cannot access offset ''title'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityPrincipleResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityPrincipleResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityPrincipleResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityPrincipleResourceTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityTraitResourceTest.php

		-
			message: '#^Cannot access offset ''label'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityTraitResourceTest.php

		-
			message: '#^Cannot access offset ''locale'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityTraitResourceTest.php

		-
			message: '#^Cannot access offset ''traits'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityTraitResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityTraitResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityTraitResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Portfolio/Quality/Presentation/ApiResource/BackofficeQualityTraitResourceTest.php

		-
			message: '#^Cannot access offset ''principles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Portfolio/Quality/Presentation/ApiResource/QualityContentResourceTest.php

		-
			message: '#^Cannot access offset ''traits'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Quality/Presentation/ApiResource/QualityContentResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Quality/Presentation/ApiResource/QualityContentResourceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_column expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Portfolio/Quality/Presentation/ApiResource/QualityContentResourceTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayNotHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), covariant mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Portfolio/Quality/Presentation/ApiResource/QualityContentResourceTest.php

		-
			message: '#^Dynamic call to static method Symfony\\Bundle\\FrameworkBundle\\Test\\KernelTestCase\:\:getContainer\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 5
			path: tests/Portfolio/Quality/Presentation/Command/SeedQualityContentCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Quality/Presentation/Command/SeedQualityContentCommandTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Portfolio/Stats/Application/StatAdministratorTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Stats/Presentation/ApiResource/BackofficeStatResourceTest.php

		-
			message: '#^Cannot access offset ''locale'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Stats/Presentation/ApiResource/BackofficeStatResourceTest.php

		-
			message: '#^Cannot access offset ''value'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Portfolio/Stats/Presentation/ApiResource/BackofficeStatResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Portfolio/Stats/Presentation/ApiResource/BackofficeStatResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Portfolio/Stats/Presentation/ApiResource/BackofficeStatResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Portfolio/Stats/Presentation/ApiResource/BackofficeStatResourceTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Portfolio/Stats/Presentation/ApiResource/StatResourceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_column expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Stats/Presentation/ApiResource/StatResourceTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayNotHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), covariant mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Portfolio/Stats/Presentation/ApiResource/StatResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Stats/Presentation/ApiResource/StatResourceTest.php

		-
			message: '#^Dynamic call to static method Symfony\\Bundle\\FrameworkBundle\\Test\\KernelTestCase\:\:getContainer\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: tests/Portfolio/Stats/Presentation/Command/SeedStatsContentCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Portfolio/Stats/Presentation/Command/SeedStatsContentCommandTest.php

		-
			message: '#^Cannot access offset ''roles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Security/Authentication/AuthenticationFlowTest.php

		-
			message: '#^Cannot access offset ''user'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/Security/Authentication/AuthenticationFlowTest.php

		-
			message: '#^Cannot access offset ''username'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Security/Authentication/AuthenticationFlowTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayNotHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), covariant mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/Authentication/AuthenticationFlowTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Security/Authentication/AuthenticationFlowTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Security/Authentication/Infrastructure/Http/CsrfCookieRequestSubscriberTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/Authentication/LoginThrottlingTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 8
			path: tests/Security/User/Application/CpgUserAdministratorTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Security/User/Application/CpgUserRegistrarTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 9
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserPasswordResourceTest.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserResourceTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserResourceTest.php

		-
			message: '#^Parameter \#1 \$array of function array_column expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserResourceTest.php

		-
			message: '#^Parameter \#1 \$users of method App\\Tests\\Security\\User\\Presentation\\ApiResource\\BackofficeUserResourceTest\:\:findIdByUsername\(\) expects list\<array\{id\: int, username\: string, roles\: list\<string\>\}\>, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserResourceTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayNotHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), covariant mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserResourceTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserResourceTest.php

		-
			message: '#^Parameter \$content of method Symfony\\Component\\BrowserKit\\AbstractBrowser\<Symfony\\Component\\HttpFoundation\\Request,Symfony\\Component\\HttpFoundation\\Response\>\:\:request\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/User/Presentation/ApiResource/BackofficeUserResourceTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\TestCase\:\:createStub\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: tests/Security/User/Presentation/Command/CreateCpgUserCommandCompromisedPasswordTest.php

		-
			message: '#^Dynamic call to static method Symfony\\Bundle\\FrameworkBundle\\Test\\KernelTestCase\:\:getContainer\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: tests/Security/User/Presentation/Command/CreateCpgUserCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/User/Presentation/Command/CreateCpgUserCommandTest.php
